@import 'src/global.scss';

.todo-panel{
    width:60%;
    margin: 100px auto;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $low-radius;
    border: 2px solid $black;
    padding: 10px;
    background-color: $white;
}

.name-container{
    width: 80%;

    text-align: center;
    padding: 10px 0;
}

.info-container{
    width: 80%;
    text-align: center;

    p{
        word-break:normal
    }
}

.controler-container{
    button{
        margin: 5px;
    }
}

@media screen and (max-width: 750px) {
    .todo-panel{
        flex-direction: column;
        padding: 10px 0;
    }
}

