<div class="todo-panel">
  <div class="name-container">
    <input class="text-field" *ngIf="this.taskChanged" [ngModel]="this.task.title" (ngModelChange)="changeTitle($event)" type="text">
    <h5 *ngIf="!this.taskChanged" class="little-title black">{{this.task.title}}</h5>
  </div>
  <div class="info-container">
    <textarea class="text-area" cols="40" rows="10" *ngIf="this.taskChanged" [ngModel]="this.task.about" (ngModelChange)="changeAbout($event)" [value]="this.task.about"></textarea>
    <p *ngIf="!this.taskChanged" class="paragraph black">{{this.task.about}}</p>
  </div>
  <div class="controler-container">
    <button (click)="startChanges()" *ngIf="!this.taskChanged" mat-raised-button color="accent">Редактировать</button>
    <button (click)="saveChanges()" *ngIf="this.taskChanged" mat-raised-button color="accent">Сохранить</button>
    <button (click)="deleteTask()" mat-raised-button color="primary">Удалить</button>
  </div>
</div>
