@import 'src/global.scss';

.todo-panel{
    width:100%;
    margin: 10px 0;
    min-height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: $low-radius;
    border: 2px solid $black;
    padding: 10px 0;
    background-color: $white;
}

.name-container{
    flex: .3;
    text-align: center;
}

.info-container{
    flex: 1;
    text-align: center;
}

.controler-container{
    flex: .3;

    button{
        margin: 5px;
    }
}

