<div class="todo-panel">
  <div class="name-container">
    <h5 class="little-title black">Asd</h5>
  </div>
  <div class="info-container">
    <p class="paragraph black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique deserunt temporibus maxime quia earum nulla rem beatae quae ipsam harum consequuntur, quas animi dolore dignissimos eaque consectetur sequi possimus nihil.
    Quas sunt inventore dicta voluptas totam facere veniam repudiandae nisi officiis praesentium aliquam, aspernatur id, enim sapiente. Suscipit blanditiis error nostrum eligendi quas deserunt aliquid, nam sit doloremque beatae a.
    Vel nemo, accusamus iste adipisci ab voluptate ipsa nam. Assumenda cupiditate, dicta accusamus, odio sequi quo molestias quae, dolor eaque impedit quia amet dolores voluptatem officia rem aut nostrum. Alias!</p>
  </div>
  <div class="controler-container">
    <button mat-raised-button>Добавить</button>
    <button mat-raised-button color="accent">Редактировать</button>
    <button mat-raised-button color="primary">Удалить</button>
  </div>
</div>
